
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: "Nunito", sans-serif;
}


#banner {
    background-image: url('../img/banner_bg.jpg');
    background-size: cover;
    height: 400px;
}

section {

    text-align: center;

}



img {
    width: 20%;
}

h2 {
    display: inline;
}

h2:hover {
    color: chartreuse;
}

h1 {
    display: inline;
}

a{
    display: block;
}

ul {
    display: inline;
}


.cambio-inline {
    display: inline;
}

.cambio-inline li {
    display: inline;
    
}

.cambio-inline li:hover {
    color: brown;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}


#display3 {
    display: none;
}

/* .imagenChau:hover {
   
} */



#bordes1 {

    width: 90px;
    height: 90px;
    margin: 50px;
    padding: 2px;
    border-width: 3px;
    border-style: solid;
    border-color: blue;
    border-radius: 2px;
    position: relative;
    left: 120px;
    

}

#bordes2 {

    width: 90px;
    height: 90px;
    margin: 70px;
    padding: 2px;
    border-width: 3px;
    border-style: solid;
    border-color: red;
    border-radius: 2px;

}

.container {width: 800px; height: 400px; background-color: bisque;}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.item {

    width: 90px;
    height: 90px;
    background-color: red;
    display: inline-block;

}

.item-1 {
    background-color: blueviolet;
}

.item-2 {
    background-color: green;
    
    
}

.item-3 {
    background-color: black;
    color: white;
    
}




